{% include 'links.html' %}
{% block content %}

<style>

</style>
<div class="card blog-container">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}

            <button style="margin-bottom: 30px;" class='btn btn-info float-right' type="submit">Post</button>
            <br>
            {{forms.title}}
            <br>
            <br>
            {{forms.snippet}}
            <br>
            <br>
            {{forms.snippet_img_url}}
            <br>
            <br>
            {{forms.category}}
            <br>
            <br>
            {{forms.body}}
            {{forms.media}}
        </form>
    </div>
</div>    

{% endblock %}