
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    height: 10vh;
    display: flex;
    background: black;
  }
  .nav-link {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link li a {
    color: orangered;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .search{
    position: absolute;
    right: 2%;
    top: 40%;
    transform: translate(-2%,-40%);
    z-index: 1;
  }
  .category-items{
    display: block;
  }
  .category-items ul {
    position: absolute;
    list-style: none;
    background: white;
    margin-top: 5px;
    margin-left: 10px;
    display: none;
  }
  .category-items ul li {
    top: 50px;
    padding: 10px;
    margin:10px;
  }
  .category-items ul li a{
    color: black;
  }
  .nav-link li a:hover {
    color: white;
  }
	#category {
	  color: orangered; 
	  cursor:pointer;
	  }
	#category:hover {
	  color: white;
	  }
	.category-items ul li a:hover{
	    color: orangered;
	  }
  ::-webkit-scrollbar{
    width: 0px;
    }
  .scrollpath{
    background: rgba(0,255,0,1);
    position:absolute;
    bottom: 0px;
    left:  -2px;
    height: 5px;
    border: 1px solid rgba(0,255,0,1);
    }
  .banner a {
      text-decoration: none;
      margin-top: 5em;
      background: none;
      padding: 15px 20px;
      border: 1px solid orangered;
      transition: 0.8s;
      color: orangered;
      border-radius: 10%;
      }
  .banner a:hover {
      background: orangered;
      color: black;
      }
      .banner h1{
        margin-top: 100px;
        margin-bottom: 75px;
        }
     .container-color{
        background-color: white;
        margin-top: 20px;
    }
    #col {
        margin: 0 0 5px 5px;  
    }
    	.home-card{
		justify-content: center;
		text-align: center;
		align-items: center;
		height: minmax(400px,550px);
    }
     .home-card a {
	   position: absolute;
     bottom: 20px;
     right: 40%;
   }
  .home-card img {
    max-width: 250px;
    min-width: 150px;
 }
     .text-size{
      line-height: minmax(20px,45px);
      font-size: minmax(15px, 25px);
      word-spacing: minmax(3px,6px);
      word-wrap: unset;
      text-justify: auto;
  }

    .align-center{
        align-items: center;
        justify-content: center;
    }
    .sc-title{
        color: ORANGERED; 
        border: 1px solid ORANGERED; 
        padding: 20px;
        border-block-end-width: 5px;
        border-block-start-width: 15px;
        border-inline-end-width: 5px;
        border-inline-start-width: 5px;
    }
    .subscribe-btn{
        background: none;
        padding: 10px;
        border: 2px solid ORANGERED ;
        cursor: pointer;
        transition: .5;
        border-radius: 10px;
        color: white;
    }
    .subscribe-btn:hover {
        background-color: ORANGERED;
        color: black;
    }
    .subscribe-input{
        width: 300px; 
        margin: 20px; 
        height:50px; 
        background: transparent;
        color: wheat;
        border: 2px solid orangered;
    }
    .comment{
      margin: 10px;
    }
       #message {
 width: minmax(70%,80%) ; 
 height: 125px;
 margin-left:10px;
 }
 	.banner p {
        font-size: minmax(20px,25px);
        }
         .card-snippet{
 text-align: left;
 text-align:justify;  
 text-justify:inter-word;
 }
    .footer{
      padding: 5px;
      position: relative;
      bottom: 0px; 
    }
@media screen and (max-width: 768px) {
    .line{
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 2%;
      top: 50%;
      transform: translate(-2%,-50%);
      z-index: 1;
    }
    .nav-link{
      position: absolute;
      background: black;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(0px at 0% -10%);
      -webkit-clip-path: circle(0px at 0% -10%);
      transition: all 0.5s ease-out;
      pointer-events: none;
      margin-top: 20px;
    }
    .nav-link.open {
      clip-path: circle(1500px at 0% -10%);
      -webkit-clip-path: circle(1500px at 0% -10%);
      transition: all 1s ease-out;
      pointer-events: all;
    }
    .nav-link li{
      opacity: 1;
    }
    .nav-link li a {
      font-size: 20px;
    }
    .search{
      right: 2%;
      top: 25%;
      transform: translate(-2%,-25%);
    }
    .search input{
      width: 150px;
      margin-right: 5px;
    }
    .category-items ul {
      position: absolute;
      list-style: none;
      background: white;
      margin-top: 5px;
      margin-left: 10px;
    }
    .category-items ul li {
      top: 50px;
      padding: 10px;
      margin:10px;
      font-size: 10px;
    }
    .category-items ul li a{
      font-size: 15px;
      color: black;
    }
  .card-snippet {
  display: none;
  }
  .banner p {
      font-size: 17px;
      }
 
  }
@media screen and (min-width: 769px) {  
  .blog-container{
    width: 65%; 
    margin: 0px auto;
    text-align:justify;  
    text-justify:inter-word;
    }
}
@media screen and (min-height: 769px) { 
  .banner h1{
    margin-top: 30vh;
    margin-bottom: 10vh;
    }
}
/* Admin dashboard */

#f-btn {
        
  margin: 0 0 50px 80%;
  color:orangered;
}
#del-btn{
  color: red;
}
#del-btn:hover{
  color: white;
  background-color: red;
  overflow: hidden;
}
#card{
  margin: 10px;
}
#anchor {
  text-decoration: none;
}
#anchor:hover {
  color: orangered;
}
  